* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color:blue;
    --box-shadow:1px 1px 1px #a7a0a0 1px;
    --text-decoration:none;
    --text-transform:capitalize;
}

/* body {
    overflow: hidden;
} */




.container{
    width: 80%;
    margin: auto;
    position: relative;
}

.srch {
    right: 0;
    top: -900px;
    position: absolute;
    width: 296px;
    height: 38px;
    border-radius: 2px;
    border: solid black 2px;
    padding: 1px 2px;
    transition: 1s linear;
    z-index: 88;
}

.search {
    top: 62px;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 1px 1px #ffd000bd;
    padding: 6px 6px;
    position: relative;
    background-color: #22436d;
    z-index: 77;
}

.name{
    display: flex;
    align-items: center;
}
.name h2 {
    font-size: 30px;
    font-weight: bold;
    font-family: cursive;
    color: white;
    margin-left: 2px;
}

.name h2::first-letter{
    color: crimson;
}

b {
    color: crimson;
}
.name img {
    width: 40px;
    height: 40px;
    color: white;
}

.nav ul {
    list-style: none;
    
}

.nav ul li {
    display: inline-block;
    margin: 0 8px;
    text-transform: capitalize;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    
   

}

.nav ul li a {
    text-decoration: none;
    transition: 1s linear;
    padding: 2px;
    border-radius: 1px;
    color: white;
}

.nav ul li a:hover {
    color:#ffd000bd;
    letter-spacing: 0.8px;
}

.links i {
    font-size: 24px;
    cursor: pointer;
    margin-right: 4px;
    color: white;
}

.links i:hover {
    opacity: 0.4;
}

.section {
    width:100%;
    height: 100vh;
    background-image: url(pictures/1.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    position: relative;
}

.info {
    position: absolute;
    width: 440px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    top: 30%;
    left: 4%;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    
}

.info h2 {
 font-size: 34px;
 margin: 10px 0;
}

.info p{
 margin: 10px 0;
 color: #a7a0a0;
 line-height: 1.4;
}

.info button{
  width: 116px;
  height: 48px;
  background-color: #ffd000bd;
  border-radius: 4px;
  border: none;
  text-transform: capitalize;
  color: white;
  cursor: pointer;
  letter-spacing: 1.4px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 font-size: 16px;
}

.info button:hover {
    background-color: #ffd00091;
}

.skills {
    padding: 60px 0;
    height: auto;
}

.skills h2 {
    text-align: center;
    font-size:42px;
    font-weight: bold;
    letter-spacing: 1.4px;
    position: relative;
    font-family: cursive;
}

.skills h2::after {
    position: absolute;
    content: "";
    width: 49px;
    height: 2px;
    background-color: black;
    bottom: -8px;
    right:48%;
    
}

.skills-content {
    margin-top: 36px;
    display: flex;
}

.skills-bar {
    width:48%;
    font-weight: bold;
    color: black;
}

.skill-bar {
    width: 90%;
    height: 28px;
    background-color: #cec2c28f;
    border-radius: 4px;
    margin: 34px;
    position: relative;
}

.skill-bar p {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    background-color: #ffd00091;
    height: 100%;
}

.skill-bar p.one {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    background-color: #ffd00091;
    height: 100%;
}

.skill-bar p.two {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    background-color: #ffd00091;
    height: 100%;
}

.skill-bar p.three {
    position: absolute;
    top: 0;
    left: 0;
    width: 92%;
    background-color: #ffd00091;
    height: 100%;
}

.skill-bar p.one {
    position: absolute;
    top: 0;
    left: 0;
    width: 49%;
    background-color: #ffd00091;
    height: 100%;
}

.skill-bar p.four {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    background-color: #ffd00091;
    height: 100%;
}


.skills-pic {
    width:48%;
}

.skills-pic img{
  width: 94%;
  height: 380px;
  margin-left: 10px;
}


.about {
    padding: 60px 0;
    height: auto;
}

.about h2 {
    text-align: center;
    font-size:42px;
    font-weight: bold;
    letter-spacing: 1.4px;
    position: relative;
    font-family: cursive;
}

.about h2::after {
    position: absolute;
    content: "";
    width: 140px;
    height: 2px;
    background-color: black;
    bottom: -8px;
    right:48%;
    
}

.about-info {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}

.about-info .first , .secon , .thir {
    width: 32%;
    height: 480px;
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
    outline: 6px solid rgba(70, 35, 35, 0.781);
   
}


.about-info div img {
    width: 100%;
    height:70%;
    margin-bottom: 26px;
    transition: 1s linear;
}

.about-info div img:hover {
    transform: scale(1.1);
}

.about-info div h4 {
    margin: 8px 0;
    font-family: cursive;
}

.about-info div p {
   color: #a7a0a0;
   font-style: italic;
   margin-bottom: 10px;
}

.secon .stars {
    color: #ff008c91;
}


.exp {
    width:100%;
    height:100vh;
    background-color: #a7a0a03a;
    padding: 28px 0;
    
}

.exp h2 {
    text-align: center;
    font-size:42px;
    font-weight: bold;
    letter-spacing: 1.4px;
    position: relative;
    font-family: cursive;
}

.exp h2::after {
    position: absolute;
    content: "";
    width: 80px;
    height: 2px;
    background-color: black;
    bottom: -8px;
    right:48%;
    
}

.exp-info {
    position: relative;
    height:100vh;
}

.exp-info::after{
    content: "";
    position: absolute;
    width: 2px;
    height:440px;
    background-color: #ff008091;
    left: 49%;
    top: 80px;
    
}

.exp-0 , .exp-2 {
    width: 299px;
    height: 280px;
    background-color: white;
    border-radius: 4px;
    margin: 6px 0;
    text-align: center;
}

ul {
    list-style: none;
}

.exp-0 {
    position: absolute;
    left: 100px;
    top: 80px;
}

.exp-0 h4 {
    font-size: 14px;
    font-family: cursive;
    margin: 12px 0;
    color: #ff008091;
}

.exp-0 .ti {
    margin: 18px 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}

.exp-0 ul li {
    margin: 8px 0;
    color: #a7a0a0;
    font-style: italic;
    position: relative;
}

.exp-0 ul li::before {
 position: absolute;
 content: "";
 width: 6px;
 height: 6px;
 border-radius: 49%;
 background-color: black;
 left: 20px;
 top: 6px;
}


.exp-0::after {
    content: "2020";
    position: absolute;
    width: 40px;
    height: 20px;
    background-color: #ff008091;
    color: white;
    top: 24px;
    right: -130px;
    text-align: center;
    padding: 4px;
}

.exp-2 {
    position: absolute;
    right: 100px;
    top: 190px;

}

.exp-2 h4 {
    font-size: 14px;
    font-family: cursive;
    margin: 12px 0;
    color: #ff008091;
}

.exp-2 .ti {
    margin: 18px 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}

.exp-2 ul li {
    margin: 8px 0;
    color: black;
    font-style: italic;
    position: relative;
}

.exp-2 ul li::before {
 position: absolute;
 content: "";
 width: 6px;
 height: 6px;
 border-radius: 49%;
 background-color: #a7a0a0;
 left: 20px;
 top: 6px;
}

.exp-2::after {
    content: "2022";
    position: absolute;
    width: 40px;
    height: 20px;
    background-color: #ff008091;
    color: white;
    left: -149px;
    top: 190px;
    text-align: center;
    padding: 4px;
}

.contact {
    padding: 60px 0;
    height: 100vh;
}

.contact h2 {
    text-align: center;
    font-size:42px;
    font-weight: bold;
    letter-spacing: 1.4px;
    position: relative;
    font-family: cursive;
}

.contact h2::after {
    position: absolute;
    content: "";
    width: 70px;
    height: 2px;
    background-color: black;
    bottom: -8px;
    right:48%;
    
}

.contact-info {
    display: flex;
    padding: 40px 0;
    justify-content: space-between;
}

.contact-info .map {
    width:40%;
}

.contact-info .forms {
  width: 42%;
  background-color: #22436d;
  margin-left: 20px;
  padding-top: 40px;
  text-align: center;
}

.forms input {
    margin: 8px 0;
    margin-left: 4px;
    height: 29px;
    border: none;
    border-radius: 4px;
    padding-left: 4px;
}

input.mail , input.nmbr {
    width: 44%;
}

input.txt , input.nmbr2 {
    width: 90%;
}

textarea {
    margin-left: 4px;
    width: 90%;
    padding-left: 4px;
}

.cnt {
    margin-top: 29px;
    width: 20%;
    height: 29px;
    cursor: pointer;
    border: none;
    background-color: #ffbb00d7;
    border-radius: 4px;
    color: white;
    text-transform: capitalize;
    letter-spacing: 1.2px;
}

.cnt:hover {
    background-color:#ffbb00 ;
}

.footer {
    background-color:black;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer h4 {
    letter-spacing: 1.2px;
}

.footer b {
    color: white;
    font-size: 20px;
}

.icons {
    text-align: center;
    color: white;
    margin: 10px 0;
}


.icons i {
    margin: 0 8px;
}

 